<div class="text-center">

  <h2>
    <%= link_to 'Atras', session[:return_to], :class => "btn btn-warning" %>
    Editando Alumno
  </h2>
</div>
<br>
<%= render 'form' %>
<br>
<!-- <%= link_to 'Show', @alumno %> | -->
