// Place all the styles related to the Alumnos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* center nab tabs */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}

label {
    font-weight: normal !important;
    display: block !important; margin-bottom: 8px;
}

legend {
    font: normal 18px 'ArialNarrow';
    letter-spacing: 3px !important;
}
