/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */

@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  margin-top: 60px;
  background-color: #f1f1f1;
}

#header{
  background-color: #000060;
}

.container{
  border-radius: 15px;
  background-color: white;
}

/* header */
.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 6px;
  margin-left: 20px;
  font-weight: bold;
}
.logo:visited {
  color: white;
}
.logo:hover {
  margin-top: 10px;
  margin-right: 10px;
  color: #eee;
  text-decoration: none;
}

/* center nab tabs */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}

label {
    font-weight: normal !important;
    display: block !important; margin-bottom: 8px;
}
