/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "alumnos";

.ui-helper-hidden-accessible { display:none; }
body{
  margin-top: 60px;
  background-color: #f1f1f1;
}

#header{
  background-color: #000070;
}

.container{
  border-radius: 15px;
  background-color: white;
}

/* header */
.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: yellow;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 6px;
  margin-left: 20px;
  font-weight: bold;
}
.logo:visited {

}
.logo:hover {
  margin-top: 8px;
  margin-right: 7px;
  color: #FFD300;
  text-decoration: none;
}
