<header class="navbar navbar-fixed-top navbar" id="header">
  <div class="container" id="header">
    <%= link_to root_path, class: "logo" do %>
      <i class="glyphicon glyphicon-book" id="icon_logo"></i>
      MATRICULAS
    <% end %>

  </div>
</header>
