<header class="navbar navbar-fixed-top navbar" id="header">
  <div class="container" id="header">
    <img src="/assets/logo.png" alt="logo" height="50px" style="float: left;"/>
    <%= link_to root_path, class: "logo" do %>
      Registro de Matricula Escuela Nueva República
    <% end %>

  </div>
</header>
